
<!DOCTYPE html>
<html lang="en">
</body>

<div class="container">

            
            <div class="row row-offcanvas row-offcanvas-right">
                
                <div class="col-xs-12 col-sm-9">
                                       <div class="jumbotron">
                        <h1>CND</h1>
                        <h3></h3>
                        
                       <%
                for(var i in data){
					%>
                     <div class="col-md-9">

                <div class="thumbnail">
                
                   
                    <div class="caption-full">
                        <h4><a href="#"><%=data[i].Title%></a></h4>
                    </div>
                     <img class="img-responsive" src="/images/<%=data[i].Image%>" alt="" height="350" width="600">
                </div>
                <h3 class="pull-right">Price: $ <%=data[i].Price%></h3>
                
<h3 class="pull-right">Quantity:  <%=data[i].Quantity%></h3>
<h3 class="pull-right">Description:  <%=data[i].Description%></h3>


					
					
				<%}
%>
                        
                        
                        
                        
                        
                        
                    </div>
                    </body>
                    </html>
